ul {
  display: flex;
  flex-wrap: wrap;
  list-style-position: inside;
  padding-left: 0;
  list-style: none;
}

.apartment {
  height: 40vh;
  flex-grow: 1;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
.rowk {
  width: 100vw;
}
.apartment:hover .apartment-image {
  opacity: 0.5;
}
.apartment:hover .title {
  opacity: 0.5;
}
