.details-container {
  padding: 100px 50px;
}
.more-info {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: '#0D7799';
}
.request-tour {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.submit {
  text-align: center;
}
