.cards {
  display: flex;

  //   justify-content: space-around;
}
.card1 {
  color: white;
  width: 100%;
  padding: 10px;
}
.card2 {
  color: white;
  width: 100%;
  padding: 10px;
}
.card3 {
  color: white;
  width: 100%;
  padding: 10px;
}
.card4 {
  color: white;
  width: 100%;
  padding: 10px;
}
.card5 {
  color: white;
  width: 100%;
  padding: 10px;
}
.card5 {
  color: white;
  width: 100%;
  padding: 10px;
}
