.header {
  padding-top: 50px;
  background-image: url('../images/home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 550px;
  width: 100%;
}
.zibo-header {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-weight: 600;
  margin-top: 100px;
}
.header-content {
  text-align: center;
}
.zibo-description {
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;
  color: #ffffff;
}
